<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
      <p v-bind:style="{color: color, fontSize: fontSize}">{{ message }}</p>
      <input v-model="message">
      <input v-model="color">
      <input v-model="fontSize">
      
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        color: 'red',
        fontSize: '24px'
      }
    })
  </script>
</body>
</html>
